body {
  max-width: 1160px;
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-family: 'Exo', 'Arial', sans-serif;
  font-weight: bold;
  color: #d11428;
  text-align: right;
  margin-right: 1em;
  width: 69%;
}

h1 .text-muted {
  border-top: 1px solid #89b7d9;
  display: block;
  font-family: 'Barlow', sans-serif;
  color: #08449d !important;
}

footer {
  width: 100%;
  padding: 1em;
  font-family: 'Exo', 'Arial', sans-serif;
  color: #fff;
  background: #b83131;
  text-align: center;
}

.accordion {
  padding: 1rem;
  max-width: 35em;
  margin: 0 auto 100px;
}

.accordion-button {
  font-weight: bold;
}

label {
  display: inline-block;
  width: 100%;
}

#paypal-radio {
  display: inline-block;
  vertical-align: middle;
}

#p24-mark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#paypal-mark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#paypal-fields {
  margin: 20px 0;
}

#p24-container {
  padding-top: 1rem;
}

#paypal-btn {
  margin-top: 1rem;
}
